.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 2rem auto;
  padding-inline: 2rem;
  height: 10rem;
}
.title {
  color: #434345;
  margin: 0;
  padding-left: 10px;
  text-wrap: nowrap;
  font-weight: 700;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  border: 1px solid #ccc;
  flex-shrink: 0;
  padding: 9px 18px;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}
.active {
  background: #228b22;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
  }
}
