.container {
  display: flex;
  flex-direction: column;
  margin: 5rem 4rem 10rem 4rem;
}
.title {
  color: #434345;
  flex: 1;
}
.wrapper {
  display: flex;
}
.link {
  display: inline-block;
  background-color: #19191b;
  color: white;
  padding: 9px 18px;
  margin-left: 10px;
  text-align: center;
  border-radius: 18px;
}
.active {
  background: #ef4444;
  transition: all 0.3s ease;
}
