:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --chart-green: #228b22;
  --chart-red: #ff0000;

  --font-size-xxl: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-xxxl: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-xxxxl: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  color: #222;
  background-color: white;
  overflow-x: hidden;
  font-family: "Georgia", serif;
}
h1 {
  font-size: var(--font-size-xxxxl);
}
h2 {
  font-size: var(--font-size-xxxl);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

blockquote {
  margin-block: 0.7rem;
}
blockquote p {
  line-height: 1.875rem;
  display: inline;
}
small {
  display: block;
  color: #686666;
}

main {
  margin: 0 auto;
  display: flex;
  max-width: 1240px;
  gap: 20px;
}
select,
input {
  border: 1px solid #ccc;
  border-radius: 3px;
  transition:
    border-color 0.3s ease,
    outline-color 0.3s ease;
  cursor: pointer;
  outline: none;
}
input {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 16px;
  width: 100%;
  caret-color: #007bff;
}
input:focus,
select:focus,
input:active {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline-color: #007bff;
}
input::placeholder {
  color: #999;
}
select {
  font-size: 0.87rem;
  padding: 7px 10px;
  margin-inline: 0.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select option {
  padding: 0.6rem;
  background: white;
}
.recharts-responsive-container {
  margin: 0 auto;
}
.load-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.loader1 {
  position: absolute;
  left: 10px;
  border-radius: 50%;
  border-top: 10px solid #b91c1c;
  width: 90px;
  height: 90px;
  animation: spinner1 4s linear infinite;
}
.loader2 {
  position: absolute;
  right: 20px;

  border-radius: 50%;
  border-top: 10px solid #f59e0b;
  width: 90px;
  height: 90px;
  animation: spinner2 4s linear infinite;
}
@keyframes spinner1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner2 {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.chart {
  /* max-width: 400px; */
  width: 100%;
  margin-top: 1.5rem;
  margin-inline: auto;
}

.apexchartsline {
  margin-inline: auto;
}
.apexcharts-datalabel * {
  word-break: 14px !important;
}
@media screen and (max-width: 600px) {
  /* .apexcharts-canvas svg {
    width: 90% !important;
    margin: 5px;
  } */
  /* .apexcharts-canvas {
    overflow-x: scroll;
  } */
}
