.container {
  margin: 4rem auto auto auto;
  /* display: flex; */
  width: 90%;
  max-width: 1024px;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 1rem auto; */
  height: 100vh;
}
